/* post styles */
.post {
    background-color: #f8f6f7;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 black;
    margin: 30px 10px;
    padding: 10px;
}
hr {
    margin: 10px 0;
}
p {
    font-size: 0.75rem;
}

/* image and video styles */
img {
    margin-top: 10px;
    width: 100%;
    height: auto;
}
video {
    margin-top: 10px;
    width: 100%;
    height: auto;
}

/* overwrite default link styles */
a {
    text-decoration: none;
    color: black;
}

/* when the screen width is less than 375px (Mobile M), hide optional elements: post author and number of comments */
@media screen and (max-width: 375px) {
    .optional {
        display: none;
    }
}