/* reset css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* global styles*/
body {
  font-family: "Space Grotesk", sans-serif;
  max-width: 1200px;
  margin: 10px auto;
}

/* footer styles */
footer {
  margin-top: 20px;
}